.container{
    width: 35%;
    display: flex;
    border: 3px;
    border-width: 30px;
    border-radius:20px;
    background-color: rgba(196, 173, 171, 0.404);
    text-align: center;
    justify-content: center;
    flex-direction:column;
    
    
}
